doctype 5
html
    head
    title Alike

    meta(name='viewport', content='width=320, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0')
    meta(name='apple-mobile-web-app-capable', content='yes')

    link(rel='stylesheet', href='/css/main.css')

    script(src='/js/libs/jquery/jquery-min.js')
    script(src='/js/libs/swipe/swipe.js')

    body(class=klazz)
    block content