div.table.profile
	div.cell
		img.user-pic(src="/images/profile/headshot.png")
	div.cell
		p.user-name Moneal Art
		p.user-desc director to photographer / NY to SF. iPhone Only.

div.table.stats
	div.cell
		span Following Following
	div.cell
		span Photo
	div.cell
		span alike

img.large-pic(src="/images/profile/large-pic.png")

div.table.stats
	div.cell
		img.thumb-pic(src="/images/profile/thumb1.png")
	div.cell
		img.thumb-pic(src="/images/profile/thumb1.png")
	div.cell
		img.thumb-pic(src="/images/profile/thumb1.png")