extends layout

block content

	div.outer-container
		div.inner-container#main-content

			div.swipe#mySwipe
				div.swip-wrap

					div.profile#profile

			a.button(href="javascript:void(0);")
				img.btn.follow(src="/images/profile/btn-follow.png")

			span.copyright &copy; Copyright Wee Ship 2013