@import "compass/css3/transform";
@import "animations/transitions";

.default-up {
  @include transform(translate3d(0,-460px,0));
  @extend .transition-default;
  position: absolute;
  top: 0;
  left: 0;
}

.up {
  @include transform(translate3d(0,0,0));
}
